<!DOCTYPE html>
<html lang="en">



<body class="container">
    
    <%- include('../partials/header', {pagina: 'sobre'}); %> 

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Sou o Allysom, tenho 19 anos e isto eh um teste</p>
            </div>
        </main>

    <%- include('../partials/footer'); %> 

    <%- include('../partials/head'); %> 

</body>
</html>