<!DOCTYPE html>
    <html lang="en">

        <%- include('../partials/head'); %>

        <body class="container">
                
        <%- include('../partials/header'); %>

         <main >
            <div class="jumbotron" > 
                <h1>Node com EJS</h1>
                <P>Vamos aprender a trabalhar com arquivos EJS</P>
            </div>

            <ul>
              
            
           <% qualitys.forEach((a)=>{ %>
                    <li>
                        <strong><% a.title %></strong><% a.message %>
                    </li>
           
           <% }) %>
            </ul>   
        </main>
                
        <%- include('../partials/footer'); %>

</body>
</html>